<phpunit bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="All Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../lib/</directory>
        </whitelist>
    </filter>
</phpunit>
