<?xml version="1.0" encoding="UTF-8" ?>
<magiumConfiguration xmlns="http://www.magiumlib.com/Configuration">
    <section identifier="website" label="Website">
        <group identifier="contact" label="Contact">
            <element identifier="title" label="Title" />
            <element identifier="address" label="Address" />
            <element identifier="city" label="City" />
            <element identifier="state" label="State" source="Magium\Configuration\Source\Political\USStates" type="select"/>
        </group>
        <group identifier="contact" label="Contact Form">
            <element identifier="title" label="Title" />
            <element identifier="sendto" label="Send To" />
        </group>
    </section>
</magiumConfiguration>
