<defaultContext  xmlns="http://www.magiumlib.com/ConfigurationContext"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:schemaLocation="http://www.magiumlib.com/ConfigurationContext ../../../../assets/context.xsd">
    <context name="production">
        <context name="integration">
            <context name="staging" />
        </context>
    </context>
    <context name="development"/>
</defaultContext>