<magiumDefaultContext  xmlns="http://www.magiumlib.com/ConfigurationContext"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:schemaLocation="http://www.magiumlib.com/ConfigurationContext ../../../../assets/context.xsd">
    <context id="production">
        <context id="integration">
            <context id="staging" />
        </context>
    </context>
    <context id="development"/>
</magiumDefaultContext>
